<app-header-admin></app-header-admin>

<div class="container-fluid py-4 d-flex justify-content-center">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <app-productos-lista-admin
        (crearProducto)="abrirCrearProducto()"
        (editarProducto)="abrirEditarProducto($event)">
      </app-productos-lista-admin>
    </div>
  </div>
</div>

<app-producto-form-modal
  *ngIf="modalVisible"
  [modoEdicion]="modalMode === 'edit'"
  [productoId]="productoSeleccionado?.id_producto"
  (cerrar)="cerrarModal()">
</app-producto-form-modal>
