:host {
  display: block;
}

.pedido-resumen-wrapper {
  position: sticky;
  top: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.pedido-resumen-wrapper.hidden {
  transform: translateY(100px);
  opacity: 0;
}

