<app-header></app-header>

<div class="admin-wrapper">
  <div class="hero"></div>

  <div class="admin-grid">
    <section class="left">
      <div class="left-header">
        <h2>Menú</h2>
        <div class="actions">
          <button class="btn-secondary" (click)="openAdd()">Agregar categorías</button>
        </div>
      </div>

     <app-categorias
        [categorias]="categorias"
        (editar)="openEdit($event)"
        (eliminar)="onDelete($event)"
      ></app-categorias>
    </section>

    <aside class="right">
      <button class="pill">Sección de pedidos entrantes e historial</button>
      <button class="pill">Historial de ventas</button>
    </aside>
  </div>
</div>

<app-categoria-modal-home
  *ngIf="showModal"
  [modo]="modoModal"
  [categoria]="categoriaSeleccionada"
  (close)="closeModal()"
  (save)="onSave($event)"
></app-categoria-modal-home>
